.appear-nav{
    transform: translateY(-100%);
    animation: navAppear 1s forwards;
}

.appear-nav-item{
    transform: translateY(-200%);
    animation: navItemAppear 1s forwards;
}

.add-fade{
    opacity: 0;
    transform: translateX(-100%);
    animation: fadeIn 1s forwards;
}

.add-blur-fade{
    opacity: 0;
    filter: blur(10px);
    animation: fadeBlur 1s forwards;
}

@keyframes navAppear {
    100%{ transform: translateY(0);}
}

@keyframes navItemAppear {
    100%{ transform: translateY(0)}
}
@keyframes fadeIn{
    0%{ opacity: 0;}
    100%{ transform: translateX(0); opacity: 1;}
}

@keyframes fadeBlur {
    0% {opacity: 0;}
    100%{ filter: blur(0); opacity: 1;}
}