*{
    margin: 0;
    padding: 0;
    scroll-behavior: smooth;
    font-family: "Open Sans";
}

p{
    font-size: 18px;
}

hr{
    margin: 10px 0px 10px 0px;
}

#particles-js{
    height: 100%;
    width: 100%;
    position: fixed;
    background: white;
    top: 0;
    z-index: -99;
}

.nav{
    display: flex;
    flex-direction: row-reverse;
    background-color: black;
}

.nav-item{
    position: relative;
    margin: 15px;
    font-size: 20px;
    text-decoration: none;
    color: white;
    transition: all 1.5s ease; 
}

.nav-item:after{
    content: '';
    position: absolute;
    width: 100%;
    transform: scaleX(0);
    height: 1px;
    bottom: 0;
    left: 0;
    background-color: white;
    transform-origin: bottom right;
    transition: transform 0.15s ease-out;
}

.nav-item:hover:after{
    transform: scaleX(1);
    transform-origin: bottom left;
}

.content, .intro-section, .photo-container, .quote-section, .about-section, .skill-progress, .career-section, .sub-career{
    display: flex;
    justify-content: center;
}

.content, .intro-section, .photo-container, .quote-section{
    align-items: center;
}

.text-container{
    margin: 100px;
}

.content, .quote-section{
    flex-direction: column;
}

.quote-section{
    height: 120vh;
    color: black;
    z-index: 1;
}

.about-section, .career-section{
    padding: 10px;
    background-color: black;
    color: white;
    flex-direction: column;
}

.about-section, .career-section, .skill-progress, .sub-career{
    align-items: top;
}

.about, .skill{
    margin: 3%;
    flex-wrap: wrap;
}

.about h1, .skill h1{
    margin: 3px;
    text-align: center;
}

.skill h2{
    margin-top: 5px;
    margin-bottom: 5px;
}

.skill-progress h2{
    text-align: center;
}

.language, .framework{
    margin: 10px 100px 10px 100px;
    display: flex;
    flex-direction: column;
}

.language > label ~ progress, .framework > label ~ progress{
    width: 425px;
    height: 25px;
}

.language label, .framework label{
    font-size: 18px;
}

.career, .outside{
    margin: 3%;
    flex-wrap: wrap;
}

.career h1, .outside h1{
    margin: 3px;
    text-align: center;
}

.education p{
    padding-bottom: 20px;
}

.education, .work{
    margin: 25px;
}

.sub-outside{
    display: flex;
    flex-direction: row;
}

.sub-outside > .photo-container > .photo{
    margin: 50px;
    padding: 0;
    width: 420px;
    height: 400px;
}

.contact-section{
    text-align: center;
}

.contact-section h1{
    padding-top: 20px;
}

.contact{
    display: flex;
    flex-wrap: wrap;
}

.contact > a{
    flex: 50%;
}

.footer{
    margin-top: 30px;
    padding: 20px;
    display: flex;
    flex-direction: column;
    background-color: black;
    color: white;
}

.tooltip{
    position: relative;
    display: inline-block;
}

.tooltip .tooltip-text{
    visibility: hidden;
    opacity: 0;
    width: 200px;
    bottom: 100%;
    left: 50%;
    margin-left: -100px;
    background-color: white;
    color: black;
    text-align: center;
    padding: 5px;
    border-radius: 6px;
    position: absolute;
    z-index: 99;
    transition: all 0.3s;
}

.tooltip:hover .tooltip-text {
    visibility: visible;
    opacity: 1;
  }

.photo{
    margin: 100px;
    border-radius: 50%;
}

.social-links{
    color: black;
    text-decoration: none;
    font-size: 24px;
    transition: 0.7s;
}

.social-links:hover{
    opacity: 0.6;
    transition: 0.3s;
}

#back-to-top{
    visibility: hidden;
    padding: 5px 8px 8px 8px;
    width: 3rem;
    height: 3rem;
    font-size: 20px;
    position: fixed;
    bottom: 20px;
    right: 30px;
    border: 1px solid black;
    border-radius: 50%;
    box-shadow: 0px 0px 10px; 
    background-color: white;
    color: black;
    cursor: pointer;
    transition: 0.4s;
    z-index: 99;
}

.hidden{
    opacity: 0;
    filter: blur(10px);
    transform: translateX(-20%);
    transition: all 2s ease;
}

.show{
    opacity: 1;
    filter: blur(0);
    transform: translateX(0);
}

@media screen and (max-width: 920px) {
    .intro-section{
        margin: 0;
    }

    .content .intro-section{
        flex-direction: column-reverse;
    }

    .photo{
        width: 80%;
        height: 80%;
    }

    .quote-section h1{
        font-size: 24px;
    }

    .skill-progress{
        flex-direction: column;
    }

    .language > label ~ progress, .framework > label ~ progress{
        width: 300px;
        height: 25px;
    }

    .sub-career{
        flex-direction: column;
        align-items: center;
    }

    .sub-outside{
        flex-direction: column;
    }

    .contact > a{
        flex: 100%;
    }

    .contact-section{
        width: 400px;
    }
}

@media screen and (max-width: 600px) {
    .content h1{
        font-size: 24px;
    }

    .content h2{
        font-size: 20px;
    }

    .content p{
        font-size: 13px;
    }

    .intro-section{
        padding-top: 10px;
        padding-bottom: 20px;
    }

    .photo-container .photo{
        margin-top: 30px;
        margin-bottom: 30px;
        width: 75%;
        height: 75%;
    }

    .text-container{
        margin-left: 40px;
        margin-right: 40px;
    }

    .quote-section h1{
        font-size: 15px;
    }

    .about-section, .career-section{
        flex-direction: column;
    }
}

@media screen and (max-width: 450px) {
    .nav-item{
        font-size: 15px;
    }
    .photo-container{
        margin-top: 70px;
        margin-bottom: 70px;
    }
    .social-links{
        font-size: 20px;
    }
    
    .about, .skill{
        width: 100%;
    }
}

@media screen and (max-width: 380px) {
    .photo-container{
        margin-top: 10px;
        margin-bottom: 10px;
    }
}